doctype html
html
    head
        meta(charset="utf-8")
        title LONGEVITY TOKEN
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel='stylesheet' href='assets/css/style.css')

    body
        include common/header
        main
            include common/calculator
            include common/roadmap
        script(src="assets/js/swiper.js")
        script(src="assets/js/main.js")