@import "common/normalize";
@import "common/fonts";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Circe", "Arial", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


a:hover {
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

@import "common/header";
@import "common/calculator";
@import "common/roadmap";
@import "common/swiper";
@import "common/roadmap-slider";
