.about
    .container
        .about__wrapper
            img.about__photo(src="assets/img/example-photo.jpg", alt="Example photo")
            .about__content
                h2.block__title О люминофоре
                hr.block__line
                p.about__paragraph Люминофор - это светонакопительный пигмент, в форме порошка. Он обладает свойством излучать яркое свечение в темноте и под ультрафиолетом. Люминофор - светящаяся краска - инновационный продукт, который позволяет Вам, подключив фантазию, производить самостоятельно изумительно красивые вещи. Светящаяся краска появилась совсем недавно. Она обладает свойством послесвечения в темноте на протяжении 8-10 часов, а срок ее годности - более 100 лет. Люминофор - светящийся пигмент, который способен заряжаться от разных источников света (Солнце, лампы освещения, у/ф лампы и др.). Чем ярче свет, тем быстрее происходит подзарядка люминофора, в среднем это занимает полчаса.