footer.footer
    .container
        .footer__wrapper
            p.footer__copyright Photographer Mark © 2017. Все права защищены
            .social
                ul.social__items
                    li.social__item
                        a.social__link.social__link--white(href="#")
                            span.display-hidden Facebook
                            i.fab.fa-facebook-f
                    li.social__item
                        a.social__link.social__link--white(href="#")
                            span.display-hidden Google+
                            i.fab.fa-google-plus-g
                    li.social__item
                        a.social__link.social__link--white(href="#")
                            span.display-hidden VK
                            i.fab.fa-vk
                    li.social__item
                        a.social__link.social__link--white(href="#")
                            span.display-hidden Twitter
                            i.fab.fa-twitter
                    li.social__item
                        a.social__link.social__link--white(href="#")
                            span.display-hidden Behance
                            i.fab.fa-behance
                    li.social__item
                        a.social__link.social__link--white(href="#")
                            span.display-hidden Instagram
                            i.fab.fa-instagram
                    li.social__item
                        a.social__link.social__link--white(href="#")
                            span.display-hidden Pinterest
                            i.fab.fa-pinterest-p