header.header
    .header__wrapper.container
        .header-row
            a.logo(href="#")
                img.logo-img(src="assets/img/logo.svg" alt="Logo")
            .nav
                a.nav__link(href="#") ICO
                a.nav__link(href="#") About
                a.nav__link(href="#") Roadmap
                a.nav__link(href="#") News
                a.nav__link(href="#") Team
                a.nav__link(href="#") Contacts
            .user-buttons
                a.login
                    img.login__icon(src="assets/img/login.svg" alt="Login icon")
                    .login__text Login
        .jumbotron
            h1.jumbotron__title We know how to improve your life today!
            p.jumbotron__paragraph Longevity life data marketplace and ecosystem fueled by the Longevity crypto token
            a.btn(href="#") Let's begin
        .header-row.header-row--align-flex-start
            a.email(href="mailto:info@longevitytoken.com") info@longevitytoken.com
            .arrow-down
                img(src="assets/img/arrow-down.svg").arrow-down__img
            .social
                .social__text Social:
                ul.social__items
                    li.social__item
                        a.social__link(href="#") facebook
                    li.social__item
                        a.social__link.social__link--tw(href="#") twitter
                    li.social__item
                        a.social__link.social__link--in(href="#") linkedin
                    li.social__item
                        a.social__link.social__link--tl(href="#") telegram