header.header
    .header__wrapper
        .header-row
            a(href="#").logo
                img(src="assets/img/logo.png" alt="Logo")
            .user-buttons
                form.search(action="#")
                    input.search__input(type="text", name="search", placeholder="Search website")
                    button(type="submit")
                a(href="#").users-buttons-buy.btn Buy $21
                .menu-button
        .jumbotron
            h1.jumbotron__title Building bulletproof fucking apps
            p.jumbotron__paragraph Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan