section.portfolio
    .container
        .portfolio__wrapper
            h2.section__title Портфолио
            hr.section__line
            div.portfolio__items

                .portfolio-row
                    .portfolio-column
                        .portfolio__item.portfolio__item--wedding
                            .portfolio__item-wrapper
                                h3.portfolio__item-title Свадебные
                                a(href="#").portfolio__item-link
                                    | Смотреть все
                                    i.fas.fa-angle-right
                        .portfolio__item.portfolio__item--man
                            .portfolio__item-wrapper
                                h3.portfolio__item-title Love Story
                                a(href="#").portfolio__item-link
                                    | Смотреть все
                                    i.fas.fa-angle-right
                    .portfolio-column
                        .portfolio__item.portfolio__item--woman-dance
                            .portfolio__item-wrapper
                                h3.portfolio__item-title Детские
                                a(href="#").portfolio__item-link
                                    | Смотреть все
                                    i.fas.fa-angle-right
                    .portfolio-column.portfolio-column--2x
                        .portfolio__item.portfolio__item--woman-flowers
                            .portfolio__item-wrapper
                                h3.portfolio__item-title Fashion
                                a(href="#").portfolio__item-link
                                    | Смотреть все
                                    i.fas.fa-angle-right

                .portfolio-row.portfolio-wrap
                    .portfolio-column.portfolio-column--2x
                        .portfolio__item.portfolio__item--man-town
                            .portfolio__item-wrapper
                                h3.portfolio__item-title Семейные
                                a(href="#").portfolio__item-link
                                    | Смотреть все
                                    i.fas.fa-angle-right
                    .portfolio-column.portfolio-column--2x
                        .portfolio-row.portfolio-media-jcsb
                            .portfolio__item.portfolio__item--girl
                                .portfolio__item-wrapper
                                    h3.portfolio__item-title Свадебные
                                    a(href="#").portfolio__item-link
                                        | Смотреть все
                                        i.fas.fa-angle-right
                            .portfolio__item.portfolio__item--little-girl
                                .portfolio__item-wrapper
                                    h3.portfolio__item-title Свадебные
                                    a(href="#").portfolio__item-link
                                        | Смотреть все
                                        i.fas.fa-angle-right
                        .portfolio__item.portfolio__item--dress-girl
                            .portfolio__item-wrapper
                                h3.portfolio__item-title Свадебные
                                a(href="#").portfolio__item-link
                                    | Смотреть все
                                    i.fas.fa-angle-right
            a(href="#").portfolio__show-more.section__link  Посмотреть ещё
