section.reviews
    .container
        .reviews__wrapper
            h2.section__title Отзывы
            hr.section__line
            .swiper-container.reviews-slider
                .swiper-wrapper
                    .swiper-slide.reviews-slider__slide
                        .reviews-slider__wrapper
                            img(src="assets/img/user-photo-1.jpg", alt="User photo").reviews-slider__photo-user
                            .reviews-slider__content
                                strong.reviews-slider__name-user Татьяна вишневская
                                p.reviews-slider__paragraph Neque porro quisquam, dolorem ipsum dolor amet, consectetur, adipisci velit, quia numquam eius modi tempora incidunt labore.
                    .swiper-slide.reviews-slider__slide
                        .reviews-slider__wrapper
                            img(src="assets/img/user-photo-2.jpg", alt="User photo").reviews-slider__photo-user
                            .reviews-slider__content
                                strong.reviews-slider__name-user Валерия и сергей
                                p.reviews-slider__paragraph Excepteur sint occaecat cupidata proident, culpa deserunt mollit laborum. Sed perspiciatis  omnis voluptatem accusantium doloremque laudantium, totam aperiam, eaque quasi architecto explicabo.
                    .swiper-slide.reviews-slider__slide
                        .reviews-slider__wrapper
                            img(src="assets/img/user-photo-1.jpg", alt="User photo").reviews-slider__photo-user
                            .reviews-slider__content
                                strong.reviews-slider__name-user 1Татьяна вишневская
                                p.reviews-slider__paragraph Neque porro quisquam, dolorem ipsum dolor amet, consectetur, adipisci velit, quia numquam eius modi tempora incidunt labore.
                    .swiper-slide.reviews-slider__slide
                        .reviews-slider__wrapper
                            img(src="assets/img/user-photo-2.jpg", alt="User photo").reviews-slider__photo-user
                            .reviews-slider__content
                                strong.reviews-slider__name-user 2Валерия и сергей
                                p.reviews-slider__paragraph Excepteur sint occaecat cupidata proident, culpa deserunt mollit laborum. Sed perspiciatis  omnis voluptatem accusantium doloremque laudantium, totam aperiam, eaque quasi architecto explicabo.
                    .swiper-slide.reviews-slider__slide
                        .reviews-slider__wrapper
                            img(src="assets/img/user-photo-1.jpg", alt="User photo").reviews-slider__photo-user
                            .reviews-slider__content
                                strong.reviews-slider__name-user 3Татьяна вишневская
                                p.reviews-slider__paragraph Neque porro quisquam, dolorem ipsum dolor amet, consectetur, adipisci velit, quia numquam eius modi tempora incidunt labore.
                    .swiper-slide.reviews-slider__slide
                        .reviews-slider__wrapper
                            img(src="assets/img/user-photo-2.jpg", alt="User photo").reviews-slider__photo-user
                            .reviews-slider__content
                                strong.reviews-slider__name-user 4Валерия и сергей
                                p.reviews-slider__paragraph Excepteur sint occaecat cupidata proident, culpa deserunt mollit laborum. Sed perspiciatis  omnis voluptatem accusantium doloremque laudantium, totam aperiam, eaque quasi architecto explicabo.
                .swiper-button-next.reviews-slider__next
                .swiper-button-prev.reviews-slider__prev
