section.roadmap
    .roadmap__wrapper
        .roadmap__phantom Implementation
        h2.roadmap__title Roadmap
        .timer
            p.timer__text Current discount end in
            .timer__wrapper
                span.timer__count.timer__count--day 91
                span.timer__count.timer__count--hours 12
                span.timer__count.timer__count--minutes 32
                span.timer__count.timer__count--seconds 47
        .roadmap-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .roadmap-slider__line.roadmap-slider__line--pink
                    .roadmap-slider__data.roadmap-slider__data--pink March 2018
                    p.roadmap-slider__paragraph Pre ICO - 2 week campiagn allows Eterly to achieve key objectives concurrently
                    p.roadmap-slider__paragraph
                        |Funds obtained from pre-ICO to be spent on:
                        br
                        |— Marketing and promotion of project
                        br
                        |— Preparing for the ICO
                        br
                        |— Translation of White Paper into multiple languages
                .swiper-slide
                    .roadmap-slider__line
                    .roadmap-slider__data May 2018
                    p.roadmap-slider__paragraph ICO - to raise total of $15m+ to fund further development of the project
                    p.roadmap-slider__paragraph ICO directed towards establishment of business divisions including: Development Dept. Research Dept. Sales team Marketing Dept. Legal team Reserve Fund set aside.
                .swiper-slide
                    .roadmap-slider__line
                    .roadmap-slider__data July 2018
                    p.roadmap-slider__paragraph -
                    p.roadmap-slider__paragraph Launch of Eterly App version 5  with accompanying marketing and PR blitz.  Ambition to gain 500k users during initial marketing phase. Gain initial feedback from users and implement any fixes / improvements.
                .swiper-slide
                    .roadmap-slider__line
                    .roadmap-slider__data August 2018
                    p.roadmap-slider__paragraph Series A raise at valuation of $50mm
                    p.roadmap-slider__paragraph  Est. to reach first 1m users Launch of open marketplace  Premium app services become available
        .swiper-button-prev
        .swiper-button-next