section.services
    .container
        .services__wrapper
            h2.section__title Услуги
            hr.section__line
            div.services__items
                .services-column
                    .services__item.services__item--portraits
                        h3.services__item-title Портреты
                        small.services__item-small от 255 грн
                        p.services__item-paragraph Neque porro quisquam, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt dolore quaerat numquam voluptatem.
                        a(href="#").services__item-link Заказать
                    .services__item.services__item--family
                        h3.services__item-title Семейные
                        small.services__item-small от 255 грн
                        p.services__item-paragraph Neque porro quisquam, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci incidunt velit, sed quia
                        a(href="#").services__item-link Заказать
                .services-column
                    .services__item.services__item--children
                        h3.services__item-title Детские
                        small.services__item-small от 300 грн
                        p.services__item-paragraph Neque porro quisquam, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci incidunt velit, sed quia
                        a(href="#").services__item-link Заказать
                    .services__item.services__item--love-story
                        h3.services__item-title Love Story
                        small.services__item-small от 255 грн
                        p.services__item-paragraph Neque porro quisquam, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt dolore quaerat numquam voluptatem.
                        a(href="#").services__item-link Заказать
                .services-column
                    .services__item.services__item--fashion
                        h3.services__item-title Fashion
                        small.services__item-small от 255 грн
                        p.services__item-paragraph Neque porro quisquam, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt dolore quaerat numquam voluptatem.
                        a(href="#").services__item-link Заказать
                    .services__item.services__item--wedding
                        h3.services__item-title Свадебные
                        small.services__item-small от 255 грн
                        p.services__item-paragraph Neque porro quisquam, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci incidunt velit, sed quia
                        a(href="#").services__item-link Заказать
            a(href="#").services__order-photos.section__link  Заказать фото
