.main-slider
    .swiper-container.main-slider__container
        .swiper-wrapper
            .swiper-slide.main-slider__slide
                h4.main-slider__title Название фото
            .swiper-slide.main-slider__slide
                h4.main-slider__title Название фото
            .swiper-slide.main-slider__slide
                h4.main-slider__title Название фото
        .swiper-button-next.main-slider__next
        .swiper-button-prev.main-slider__prev
