section.super-duper
    .super-duper__wrapper.container
        div.super-duper__content
            h2.super-duper__title Super Duper & such
            p.super-duper__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            a(href="#").super-duper__more.btn See More
        div
            img.super-duper__img(src="assets/img/super-duper-phone.png" alt="Img phone")