.list-card__wrapper {
  padding-bottom: 170px;
}

.list-card__items {
  display: flex;
  justify-content: space-between;
}

.list-card__title {
  font-size: 30px;
  color: #2b303b;
}

.list-card__mini-paragraph {
  font-size: 20px;
  line-height: 30px;
  color: #696f7c;
}

.list-card__paragraph {
  font-size: 14px;
  line-height: 28px;
  color: #44484f;
}

.list-card__more {
  background-color: #3dd2ae;
}