.super-duper {
  padding-top: 100px;
  background-color: #835fa8;
  color: #fff;
}

.super-duper__wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.super-duper__content {
  max-width: 460px;
}

.super-duper__title {
  font-weight: 300;
  font-size: 40px;
}

.super-duper__paragraph {
  font-size: 16px;
  line-height: 26px;
}

.super-duper__more {
  background-color: #3dd2ae;
}

.super-duper__img {
  margin-top: -234px;
}
